<div id="moveConfirm" class="modal fade" style="overflow-y: auto;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">×</button>
        <h3>Move Customer</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <label class="col-sm-12 col-md-4 control-label">New IP Address</label>
          <div class="col-sm-12 col-md-8">
            <input type="text" class="form-control input-sm" id="move_new_ipaddress" name="move_new_ipaddress" placeholder="XXX.XXX.XXX.XXX" value="192.69.124.12" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <% if @customer.id.nil? %>
          <button class="btn btn-default btn-primary btn-disabled" href="#">Confirm</a>
        <% else %>
          <%= link_to 'Confirm', customer_move_path(@customer), class: 'btn btn-primary btn-small'%>
        <% end %>
        <a data-dismiss="modal" class="btn btn-default btn-small" href="#">Cancel</a>
      </div>
    </div>
  </div>
</div><!-- end move modal -->
