@import url(http://fonts.googleapis.com/css?family=Signika+Negative:400,300,600);
* {
  outline: none !important;
  -moz-outline: none !important;
}

/* === Main ==================================================================*/
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: -20px;
  background: #000000 url('../assets/pattern.png') repeat scroll top center;
}
@media (nax-width: 767px) {
  body {
    margin-top: -2px;
  }
}
@media (max-width: 991px) {
  body {
    padding: 18px 0 0 !important;
  }
}
a,
a:hover {
  text-decoration: none !important;
}
.row {
  margin: 0;
}
.tooltip {
  font-size: 10px;
}
.tooltip-inner {
  padding: 4px 8px 3px;
}
@media (min-width: 1200px) {
  .boxed #wrapper {
    width: 1174px;
    margin: 0 auto;
    position: relative;
  }
}

/* === Header ================================================================*/
#header {
  height: 77px;
  position: relative;
  width: 100%;
  z-index: 0;
}
#header h1 {
  background: url("../assets/logo.png") no-repeat scroll 0 0 transparent;
  height: 31px;
  left: 10px;
  line-height: 600px;
  overflow: hidden;
  position: relative;
  top: 24px;
  width: 191px;
}
#header h1 a {
  display: block;
}
@media (max-width: 440px) {
  #header h1 {
    background: url("../assets/logo-min.png") no-repeat scroll 0 0 transparent;
  }
}
@media (max-width: 767px) {
  #header {
    left: 0;
    padding-top: 1px;
    z-index: 1;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
  }
  .menu-open #header {
    left: 205px;
  }
  .fixed #header {
    position: fixed;
    z-index: 20;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    margin-top: -37px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  #header h1 {
    top: auto;
    left: auto;
    margin: 7px auto;
  }
  .fixed #header h1 {
    position: absolute;
    top: auto;
    left: 38px;
    bottom: -4px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #header {
    height: 38px;
    margin-top: -18px;
  }
  #header h1 {
    top: 3px;
  }
}
#menu-trigger {
  position: absolute;
  font-size: 16px;
  line-height: 16px;
  top: 10px;
  left: 7px;
  color: #dddddd;
  text-shadow: 0 1px 0 #000000;
  z-index: 22 !important;
  display: none;
}
.fixed #menu-trigger {
  z-index: 20;
  top: 44px;
  bottom: 0;
  left: 1px;
  padding: 6px 7px 9px 6px;
}
@media (max-width: 767px) {
  #menu-trigger {
    display: block;
  }
}
/* === Top Navigation ========================================================*/
#user-nav {
  position: absolute;
  right: 30px;
  top: 0;
  z-index: 20;
  margin: 0;
  min-height: auto !important;
  height: 25px !important;
}
@media (max-width: 767px) {
  #user-nav {
    position: relative;
    left: 10%;
    right: 10%;
    top: -39px;
    width: 80%;
    margin-bottom: -25px;
    text-align: center;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
  }
  .fixed #user-nav {
    z-index: 21;
    position: fixed;
    margin: 0;
    top: 2px;
    width: auto;
    left: auto;
    right: 10px;
  }
  .menu-open #user-nav {
    left: auto;
    right: -220px !important;
  }
}
#user-nav > ul {
  margin: -1px 0 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 767px) {
  #user-nav > ul {
    right: auto;
    position: relative;
  }
}
#user-nav > ul > li {
  float: left;
  list-style-type: none;
  margin: 0;
  position: relative;
  padding: 0;
}
#user-nav > ul > li > a {
  padding: 11.5px 10px;
  display: block;
  font-size: 10px;
}
#user-nav > ul > li > a,
#user-nav > ul > li > a > i {
  color: rgba(255, 255, 255, 0.6);
}
#user-nav > ul > li > a > i {
  font-size: 11px;
  vertical-align: top;
  margin-right: 4px;
}
#user-nav > ul > li > a > .label {
  font-size: 10px;
  vertical-align: middle;
  padding: 2px 4px 2px;
  margin: -2px 4px 0;
  display: inline-block;
}
#user-nav > ul > li > a > .caret {
  border-top-color: rgba(255, 255, 255, 0.6);
}
#user-nav > ul > li:hover > a,
#user-nav > ul > li:hover > a > i,
#user-nav > ul > li.open > a,
#user-nav > ul > li.open > a > i {
  background-color: transparent;
  color: #ffffff;
}
#user-nav > ul > li:hover > a > .caret,
#user-nav > ul > li.open > a .caret {
  border-top-color: #fff;
}
#user-nav > ul ul > li > a {
  text-align: left;
  text-shadow: 0 1px 0 #ffffff;
}
@media (max-width: 767px) {
  #user-nav > ul > li > a > span.text {
    display: none;
  }
}
/* === Sidebar ===============================================================*/
#sidebar {
  /* Search input */
}
#sidebar #search {
  margin: 5px 10px 10px;
  z-index: 1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
#sidebar #search input[type=text],
#sidebar #search button {
  background-color: transparent;
}
#sidebar #search input[type=text] {
  font-size: 12px;
  line-height: 18px;
  border-radius: 4px 0 0 4px;
  padding: 7px 10px 6px;
  border: 0;
  width: 150px;
}
#sidebar #search button {
  border: 0;
  margin-top: -10px;
  padding: 4px 10px 4px;
  border-radius: 0 4px 4px 0;
}
#sidebar #search button i {
  font-size: 12px;
  margin-top: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  #sidebar #search {
    display: none;
  }
}
#sidebar > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 205px;
}
#sidebar > ul > li {
  display: block;
  position: relative;
}
#sidebar > ul > li > a {
  padding: 5px 0 5px 15px;
  display: block;
  color: #AAAAAA;
  font-family: 'Signika Negative', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
#sidebar > ul > li > a > i {
  margin-right: 10px;
}
#sidebar > ul > li > a > .label {
  margin: 2px 20px 0 0;
  float: right;
  padding: 3px 5px 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}
#sidebar > ul > li > a .arrow {
  float: right;
  margin: 5px 20px 0 -10px;
  font-size: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#sidebar > ul > li.active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset;
}
#sidebar > ul > li.open > a .arrow {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
#sidebar > ul > li.open ul {
  display: block !important;
}
#sidebar > ul ul {
  display: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset;
  position: relative;
  list-style: none;
}
#sidebar > ul ul li a {
  padding: 2px 0 2px 25px;
  display: block;
  color: #777777;
  position: relative;
  font-size: 12px;
}
#sidebar > ul ul li:first-child a {
  border-top: 0;
}
#sidebar > ul ul li:last-child a {
  border-bottom: 0;
}
#sidebar > ul ul li.active a:before,
#sidebar > ul ul li.active a:after {
  font-family: 'FontAwesome';
  content: "\f101";
  display: block;
  position: absolute;
  top: 2px;
  left: 10px;
}
.flat #sidebar ul {
  margin-top: 0;
}
.flat #sidebar ul li a {
  text-shadow: none;
}
#sidebar {
  display: block;
  float: left;
  position: relative;
  z-index: 16;
  width: 205px;
}
#sidebar > ul > li.active > a {
  background: url("../assets/menu-active.png") no-repeat scroll right center transparent !important;
}
@media (max-width: 767px) {
  #sidebar {
    float: none;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }
  #sidebar > a {
    padding: 7px 20px 7px 15px;
    box-shadow: 0 1px 0 #666666;
    margin-bottom: 1px;
    display: block !important;
    text-transform: uppercase;
    color: #eeeeee;
    font-size: 10px;
  }
  #sidebar > a > i {
    margin-right: 10px;
  }
  #sidebar > ul {
    margin: -2px 0 0 !important;
    width: 100% !important;
  }
  #sidebar > ul > li > a > span {
    display: inline !important;
  }
  #sidebar > ul > li.active > a {
    background: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #sidebar,
  #sidebar > ul {
    width: 43px;
  }
  #sidebar > ul {
    margin-top: -1px;
  }
  #sidebar > ul > li > a > span {
    display: none;
  }
  #sidebar > ul > li.open.submenu a {
    border-bottom: none !important;
  }
  #sidebar > ul ul {
    display: none;
    position: absolute;
    left: 50px;
    top: 0;
    min-width: 150px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    list-style: none;
  }
  #sidebar > ul ul:before {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    content: "";
    display: inline-block;
    left: -6px;
    position: absolute;
    top: 12px;
  }
  #sidebar > ul ul:after {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    content: "";
    display: inline-block;
    left: -5px;
    position: absolute;
    top: 13px;
  }
  #sidebar > ul ul li a {
    white-space: nowrap;
    padding: 10px 25px;
    font-size: 14px;
  }
  #sidebar .arrow {
    display: none;
  }
  .flat #sidebar > ul {
    margin-top: 0;
  }
  .flat #sidebar > ul ul {
    border-radius: 0;
  }
}
@media (max-width: 991px) {
  #sidebar li.submenu > ul {
    display: none;
  }
}

/* === Content ===============================================================*/
#content {
  margin-left: 205px;
  margin-right: 0;
  margin-top: -39px;
  position: relative;
  min-height: 500px;
  width: auto;
  -webkit-background-clip: padding-box;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
@media (max-width: 767px) {
  #content {
    margin-left: 0 !important;
    margin-top: 0;
    border-radius: 0;
    left: auto;
    z-index: 1;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
  }
  .fixed #content {
    padding-top: 67px;
  }
  .menu-open #content {
    left: 205px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #content {
    margin-left: 43px;
    margin-top: 38px;
  }
}
#content-header {
  background-color: #f6f6f6;
  border-top-left-radius: 8px;
  min-height: 92px;
  padding-top: 5px;
  width: 100%;
  margin-top: -38px;
  z-index: 20;
}
#content-header h1 {
  color: #555555;
  font-size: 28px;
  font-weight: normal;
  text-shadow: 0 1px 0 #ffffff;
  margin-left: 20px;
}
#content-header.mini {
  min-height: 50px;
}
#content-header.mini h1 {
  margin-top: 10px;
}
@media (max-width: 767px) {
  #content-header {
    margin-top: 0;
    /*height: 140px; FIX iPhone: Makes header take up too much space/not enough, let it dictate (by h1 text length) */
    height: auto;
    /* FIX iPhone: allow h1, btn-group to set height*/
    text-align: center;
  }
  #content-header h1 {
    float: none;
    position: relative;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-top: 0;
    padding-top: 0 !important;
    padding-top: 15px;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #content-header {
    border-top-left-radius: 0;
  }
}

/* === Breadcrumb ============================================================*/
#breadcrumb {
  box-shadow: 0 0 1px #ffffff;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  padding-left: 10px;
  margin-bottom: 20px;
}
#breadcrumb a {
  padding: 8px 20px 8px 10px;
  display: inline-block;
  background-image: url('../assets/breadcrumb.png');
  background-position: center right;
  background-repeat: no-repeat;
  font-size: 11px;
  color: #666666;
}
#breadcrumb a i {
  margin: 0px 5px 2px 0;
  opacity: .6;
  vertical-align: middle;
}
#breadcrumb a:hover {
  color: #333333;
}
#breadcrumb a:hover i {
  opacity: .8;
}
#breadcrumb a:last-child {
  background-image: none;
}
#breadcrumb a.current {
  font-weight: bold;
  color: #444444;
}

/* === Widgets ===============================================================*/
.widget-box {
  background: none repeat scroll 0 0 #fafafa;
  border: 1px solid #CDCDCD;
  clear: both;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.widget-box .widget-title a {
  color: #555555;
}
.widget-box .widget-title span.icon {
  border-right: 1px solid #cdcdcd;
  padding: 8px 10px 8px 11px;
  float: left;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -webkit-box-shadow: 1px 0 0 0 #ffffff;
  box-shadow: 1px 0 0 0 #ffffff;
}
.widget-box .widget-title span.icon.pull-right {
  border-right: 0;
  border-left: 1px solid #ffffff;
  -webkit-box-shadow: -1px 0 0 #cdcdcd;
  box-shadow: -1px 0 0 #cdcdcd;
}
.widget-box .widget-title h5 {
  color: #666666;
  text-shadow: 0 1px 0 #ffffff;
  float: left;
  font-size: 12px;
  font-weight: bold;
  padding: 12px;
  line-height: 12px;
  margin: 0;
}
.widget-box .widget-content {
  padding: 12px 15px;
}
.widget-box .widget-content > hr {
  margin: 20px -15px;
  height: 0px;
  border-width: 1px 0;
  border-style: solid none;
  border-color: #eeeeee transparent #fff;
}
.widget-box.collapsible .collapse.in .widget-content {
  border-bottom: 1px solid #CDCDCD;
}
.widget-title,
.modal-header,
.table th,
div.dataTables_wrapper .ui-widget-header,
.ui-dialog .ui-dialog-titlebar {
  border-bottom: 1px solid #CDCDCD;
  height: 36px;
  -webkit-box-shadow: 0 1px 0 #ffffff inset;
  box-shadow: 0 1px 0 #ffffff inset;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
div.dataTables_wrapper .ui-widget-header {
  background-color: #f2f2f2;
}
.ui-widget-overlay {
  position: fixed;
}
/* Widget styles */
.accordion .widget-box {
  margin: -1px 0 0;
  border-radius: 0;
}
.accordion .widget-box .widget-title {
  border-bottom: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.accordion .widget-box .widget-title i {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.accordion .widget-box .widget-title.ui-accordion-header-active {
  border-bottom: 1px solid #cdcdcd;
}
.accordion .widget-box:last-child {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.accordion.ui-accordion .ui-accordion-header {
  border: 0;
  margin-top: 0;
}
.accordion.ui-accordion .ui-accordion-header .ui-icon {
  display: none;
}
.accordion.ui-accordion .ui-accordion-header a {
  display: block;
  font-size: 1em;
  padding: 0;
  background-image: none !important;
}
.accordion.ui-accordion .ui-accordion-header .ui-accordion-content {
  margin: 0;
  border-left: 0;
  border-right: 0;
}
ul#icons li {
  cursor: pointer;
  float: left;
  list-style: none outside none;
  margin: 2px;
  padding: 4px 0;
  position: relative;
}
.tabbable.inline {
  margin-bottom: 10px;
}
.tabbable.inline .nav-tabs {
  margin-bottom: -1px;
}
.tabbable.inline .nav-tabs > li.active > a,
.tabbable.inline .nav-tabs > li.active > a:hover,
.tabbable.inline .nav-tabs > li.active > a:focus {
  background-color: #FFFFFF;
  border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
  border-top: 1px solid #DDDDDD;
  color: #333333;
  line-height: 16px;
  z-index: 12;
}
.tabbable.inline .nav-tabs > li:first-child > a {
  margin-left: 0;
}
.tabbable.inline .nav-tabs > li > a:hover {
  background-color: #FFFFFF;
  border-color: #DDDDDD;
  color: #4C8FBD;
}
.tabbable.inline .nav-tabs > li > a,
.tabbable.inline .nav-tabs > li > a:focus {
  background-color: #F9F9F9;
  border-color: #DDDDDD;
  border-radius: 0 !important;
  color: #999999;
  line-height: 16px;
  margin-right: -1px;
  position: relative;
}
.tabbable.inline.tabs-left .tab-content,
.tabbable.inline.tabs-right .tab-content {
  overflow: auto;
}
.tabbable.inline .tab-content {
  border: 1px solid #DDDDDD;
  padding: 16px 12px;
  position: relative;
}
.tabbable.inline.tabs-below > .nav-tabs {
  border-bottom-width: 0;
  border-color: #DDDDDD;
  margin-bottom: 0;
  margin-top: -1px;
  top: auto;
}
.tabbable.inline.tabs-below > .nav-tabs > li > a,
.tabbable.inline .tabs-below > .nav-tabs > li > a:hover,
.tabbable.inline .tabs-below > .nav-tabs > li > a:focus {
  border-color: #DDDDDD;
}
.tabbable.inline.tabs-below > .nav-tabs > li.active > a,
.tabbable.inline .tabs-below > .nav-tabs > li.active > a:hover,
.tabbable.inline .tabs-below > .nav-tabs > li.active > a:focus {
  border-bottom: 1px solid #DDDDDD;
  border-color: rgba(0, 0, 0, 0) #dddddd #dddddd;
  border-top-width: 1px;
  margin-top: 0;
}
.tabbable.inline.tabs-left > .nav-tabs > li > a,
.tabbable.inline .tabs-right > .nav-tabs > li > a {
  min-width: 60px;
}
.tabbable.inline.tabs-left > .nav-tabs {
  border-color: #DDDDDD;
  float: left;
  margin-bottom: 0;
  top: auto;
}
.tabbable.inline.tabs-left > .nav-tabs > li,
.tabbable.inline.tabs-right > .nav-tabs > li {
  float: none;
}
.tabbable.inline.tabs-left > .nav-tabs > li > a,
.tabbable.inline .tabs-left > .nav-tabs > li > a:focus,
.tabbable.inline .tabs-left > .nav-tabs > li > a:hover {
  border-color: #DDDDDD;
  margin: 0 -1px 0 0;
}
.tabbable.inline.tabs-left > .nav-tabs > li.active > a,
.tabbable.inline .tabs-left > .nav-tabs > li.active > a:focus,
.tabbable.inline .tabs-left > .nav-tabs > li.active > a:hover {
  border-color: #DDDDDD transparent #DDDDDD #DDDDDD;
  border-left: 1px solid #DDDDDD;
  border-right: medium none;
  border-top-width: 1px;
  margin: 0 -1px;
}
.tabbable.inline.tabs-right > .nav-tabs {
  border-color: #DDDDDD;
  float: right;
  margin-bottom: 0;
  top: auto;
}
.tabbable.inline.tabs-right > .nav-tabs > li > a,
.tabbable.inline .tabs-right > .nav-tabs > li > a:focus,
.tabbable.inline .tabs-right > .nav-tabs > li > a:hover {
  border-color: #DDDDDD;
  margin: 0 -1px;
}
.tabbable.inline.tabs-right > .nav-tabs > li.active > a,
.tabbable.inline .tabs-right > .nav-tabs > li.active > a:focus,
.tabbable.inline .tabs-right > .nav-tabs > li.active > a:hover {
  border-color: #dddddd #dddddd #dddddd -moz-use-text-color;
  border-left: medium none;
  border-right: 1px solid #DDDDDD;
  border-top-width: 1px;
  margin: 0 -2px 0 -1px;
}
.tabbable.inline .nav-tabs > li > a > .badge {
  line-height: 8px;
  opacity: 0.7;
}
.tabbable.inline .nav-tabs > li > a > [class*="fa-"] {
  opacity: 0.75;
}
.tabbable.inline .nav-tabs > li.active > a > .badge,
.tabbable.inline .nav-tabs > li.active > a > [class*="fa-"] {
  opacity: 1;
}
.tabbable.inline .nav-tabs li [class*=" fa-"],
.tabbable.inline .nav-tabs li [class^="fa-"] {
  display: inline-block;
  text-align: center;
  width: 1.25em;
}
.tabbable.inline .nav-tabs > li.open .dropdown-toggle {
  background-color: #4F99C6;
  border-color: #4F99C6;
  color: #FFFFFF;
}
.tabbable.inline .nav-tabs > li.open .dropdown-toggle > [class*="fa-"] {
  color: #FFFFFF !important;
  opacity: 1;
}
.tabbable.inline .tabs-left .tab-content,
.tabbable.inline .tabs-right .tab-content {
  overflow: auto;
}
.tabbable.inline .tab-content {
  background-color: #fff;
}

/* === Forms =================================================================*/
.form-group {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #eeeeee;
}
.form-group .row {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .form-group .row [class*="col-lg-"],
  .form-group .row [class*="col-md-"] {
    margin-bottom: 15px;
  }
  .form-group .row [class*="col-lg-"]:last-child,
  .form-group .row [class*="col-md-"]:last-child {
    margin-bottom: 0;
  }
}
.form-group .row:last-child {
  margin-bottom: 0;
}
form {
  margin-bottom: 0;
}
form .form-group {
  margin: 0;
  padding: 5px 20px;
}
form .form-group:last-child {
  border-bottom: 0;
}
.form-horizontal .form-group {
  margin: 0;
  padding: 10px 0;
}
.form-horizontal .form-group:last-child {
  border-bottom: 0;
}
.form-horizontal .form-group > [class*="col-"] > .row > [class*="col-"]:first-child {
  padding-left: 0;
}
.form-horizontal .form-group > [class*="col-"] > .row > [class*="col-"]:last-child {
  padding-right: 0;
}
.form-horizontal .control-label {
  font-weight: bold;
  color: #555555;
  text-shadow: 0 1px 0 #fff;
}
.form-horizontal .form-actions {
  background-color: #f4f4f4;
  padding: 10px 40px 10px 200px;
}
.nopadding .form-horizontal .form-actions {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
@media (max-width: 767px) {
  .form-horizontal .control-label {
    padding-left: 15px;
    padding-bottom: 10px;
    position: relative;
  }
  .form-horizontal .form-actions {
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px 40px 10px 50px;
  }
}
.form-horizontal .input-group {
  padding: 0;
}
@media (max-width: 991px) {
  .form-horizontal .form-group [class*="col-"] > .row > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}
.control-label {
  font-weight: normal;
}
.help-block,
.help-inline {
  color: #999999;
}
.has-error .help-block,
.has-error .help-inline {
  color: #B94A48;
}
.has-success .help-block,
.has-success .help-inline {
  color: #468847;
}
.has-warning .help-block,
.has-warning .help-inline {
  color: #C09853;
}
[class*="icheckbox_"] .help-inline {
  margin-top: 1px;
  margin-left: 30px;
  position: absolute;
  float: left;
  min-width: 200px;
  width: auto;
}
.input-icon .fa {
  position: absolute;
  top: 11px;
  left: 10px;
}
.input-icon .form-control {
  padding-left: 28px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.input-icon.on-right .fa {
  right: 10px;
  left: auto;
}
.input-icon.on-right .form-control {
  padding-left: 12px;
  padding-right: 28px;
}
.input-icon.icon-sm .fa {
  top: 9px;
}
.input-icon.icon-lg .fa {
  font-size: 20px;
  top: 13px;
  left: 12px;
}
.input-icon.icon-lg.on-right .fa {
  left: auto;
  right: 12px;
}
.input-icon.icon-lg .form-control {
  padding-left: 30px;
}
.input-icon.icon-lg.on-right .form-control {
  padding-left: 12px;
  padding-right: 30px;
}

/* === Tables ================================================================*/
.table th {
  height: auto;
  font-size: 10px;
  padding: 5px 10px 2px;
  border-bottom: 0;
  text-align: center;
  color: #666666;
  vertical-align: middle !important;
}
.table tr.checked td {
  background-color: #FFFFE3 !important;
}
.table.with-check tr th:first-child,
.table.with-check tr td:first-child {
  width: 10px;
}
.table.with-check tr th:first-child i {
  margin-top: -2px;
  opacity: 0.6;
}
.table.with-check tr td:first-child .checker {
  margin-right: 0;
}
.table.table-striped tbody > tr:nth-child(2n+1) > th,
.table.table-striped tbody > tr:nth-child(2n+1) > td {
  background-color: #FCFCFC;
}
.table.table-striped tbody > tr.tdnp:nth-child(2n+1) > th,
.table.table-striped tbody > tr.tdnp:nth-child(2n+1) > td {
  background-color: #FF3939;
  color: #FFF;
}
.tdnp {
  background-color: #FF3939;
  color: #FFF;
}
.table.table-striped tbody > tr:nth-child(2n+1) > th,
.table.table-striped tbody > tr:nth-child(2n+1) > td > a:link.tdnp {
  color: #FFF;
}
.table.table-hover tbody > tr:hover > td {
  background-color: #f5f5f5;
}
.table.table-hover tbody > tr.tdnp:hover > td {
  background-color: #FF0000;
}
span.icon .checker {
  margin-top: -5px;
  margin-right: 0;
}
@media (max-width: 979px) {
  .dataTables_filter,
  .dataTables_paginate {
    text-align: center;
  }
}
@media (max-width: 979px) and (max-width: 767px) {
  .dataTables_filter,
  .dataTables_paginate {
    float: none !important;
  }
}
/* === Bootstrap overrides and additions ==================================== */
.progress.progress-xs {
  height: 7px;
}
.progress.progress-sm {
  height: 12px;
}
.progress-bar {
  background-color: #34495e;
}
.progress-striped .progress-bar {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #e74c3c;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-success {
  background-color: #2ecc71;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #3498db;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f39c12;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-inverse {
  background-color: #555555;
}
.progress-striped .progress-bar-inverse {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.form-control:focus {
  border-color: #34495e !important;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(52, 73, 94, 0.3) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(52, 73, 94, 0.3) !important;
}
.dropdown-menu li a {
  font-size: 12px;
}
.dropdown-menu li a:hover {
  color: inherit;
  background-color: #eeeeee;
}
.dropdown-primary.dropdown-menu li a:hover,
.dropdown-success.dropdown-menu li a:hover,
.dropdown-warning.dropdown-menu li a:hover,
.dropdown-danger.dropdown-menu li a:hover,
.dropdown-info.dropdown-menu li a:hover,
.dropdown-inverse.dropdown-menu li a:hover {
  color: #fff;
}
.dropdown-primary.dropdown-menu li a:hover {
  background-color: #34495e;
}
.dropdown-success.dropdown-menu li a:hover {
  background-color: #2ecc71;
}
.dropdown-warning.dropdown-menu li a:hover {
  background-color: #f39c12;
}
.dropdown-danger.dropdown-menu li a:hover {
  background-color: #e74c3c;
}
.dropdown-info.dropdown-menu li a:hover {
  background-color: #3498db;
}
.dropdown-inverse.dropdown-menu li a:hover {
  background-color: #555555;
}
.dropdown-menu > li > a:hover,
.dropdown-menu .active a,
.dropdown-menu .active a:hover,
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
  background-image: none !important;
}
.alert {
  padding: 10px 15px;
}
.btn {
  margin: 2px 0;
}
.input-group-btn .btn {
  margin: 0;
}
.btn-primary {
  color: #ffffff;
  background-color: #34495e;
  border-color: #34495e;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #253544;
  border-color: #1e2a37;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #34495e;
  border-color: #34495e;
}
.btn-primary .badge {
  color: #34495e;
  background-color: #fff;
}
.btn-success {
  color: #ffffff;
  background-color: #2ecc71;
  border-color: #2ecc71;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #26ab5f;
  border-color: #239a55;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #2ecc71;
  border-color: #2ecc71;
}
.btn-success .badge {
  color: #2ecc71;
  background-color: #fff;
}
.btn-warning {
  color: #ffffff;
  background-color: #f39c12;
  border-color: #f39c12;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #d2850b;
  border-color: #be780a;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f39c12;
  border-color: #f39c12;
}
.btn-warning .badge {
  color: #f39c12;
  background-color: #fff;
}
.btn-info {
  color: #ffffff;
  background-color: #3498db;
  border-color: #3498db;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #2383c4;
  border-color: #2077b2;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #3498db;
  border-color: #3498db;
}
.btn-info .badge {
  color: #3498db;
  background-color: #fff;
}
.btn-danger {
  color: #ffffff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #df2e1b;
  border-color: #cd2a19;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.btn-danger .badge {
  color: #e74c3c;
  background-color: #fff;
}
.btn-inverse {
  color: #ffffff;
  background-color: #555555;
  border-color: #494949;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #414141;
  border-color: #2a2a2a;
}
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  background-image: none;
}
.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #555555;
  border-color: #494949;
}
.btn-inverse .badge {
  color: #555555;
  background-color: #fff;
}
.btn-xs {
  font-size: 10.5px;
  padding: 3px 8px;
}
.modal {
  z-index: 1040 !important;
}
.modal-backdrop {
  opacity: 0.5 !important;
  overflow: hidden !important;
}
.modal-header {
  height: auto;
  padding: 8px 15px 5px;
  border-radius: 6px 6px 0 0;
}
.modal-header h3 {
  margin-top: 7px;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 1px 0 #ffffff;
}
.modal-header .close {
  margin-top: 2px;
}
.modal-footer {
  margin-top: 0;
}
.input-group {
  padding: 10px 0;
}
.input-group-addon {
  background-color: #f3f0f6;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 1px;
}

/** Plugins Overrides and fixes **/
/* jQuery Sparklines */
.jqstooltip {
  width: auto !important;
  height: auto !important;
  padding: 2px 6px !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  border: 0 !important;
  border-radius: 3px;
}

/* NiceScroll */
.nicescroll-rails {
  background-color: transparent !important;
  border-radius: 5px;
  margin-right: 2px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  z-index: 1030;
  bottom: 0 !important;
  height: 200% !important;
}
.nicescroll-rails > div {
  background-color: rgba(140, 140, 140, 0.7) !important;
  border: 0 none !important;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
@media (min-width: 768px) {
  .nicescroll-rails {
    display: none !important;
  }
}

/* jQuery UI Overrides */
.ui-spinner {
  border: 0;
}
.ui-spinner .ui-spinner-up,
.ui-spinner .ui-spinner-down {
  border-right: 1px solid #CCCCCC !important;
  border-bottom: 1px solid #ccc !important;
}
.ui-spinner .ui-spinner-up {
  border-top: 1px solid #CCCCCC !important;
}
.ui-spinner-input {
  margin: 0;
}

/* Utilities */
.nopadding {
  padding: 0 !important;
}
.nopadding .table {
  margin-bottom: 0;
}
.nopadding .table-bordered {
  border: 0 !important;
}
.line {
  background: url("../assets/line.png") repeat-x scroll 0 0 transparent;
  display: block;
  height: 8px;
}
.css_right {
  float: right;
}
.disabled {
  color: #BBBBBB;
}
/* === Footer ================================================================*/
#footer {
  text-align: center;
  color: #ffffff;
  text-shadow: 0 1px 0 #000000;
  font-size: 12px;
  font-weight: 200;
  padding: 10px 0;
}
#footer a {
  color: rgba(255, 255, 255, 0.5);
}
#footer a:hover {
  color: rgba(255, 255, 255, 0.8);
}

/* === Grey Data Type ======================================================= */
body[data-color="grey"] #wrapper {
  background-color: #3c3c3c;
}
body[data-color="grey"] #header {
  box-shadow: inset 0 0 0 1px #1a1a1a;
  background-color: #292929;
  background-image: -webkit-linear-gradient(top, #292929 0%, #101010 100%);
  background-image: linear-gradient(to bottom, #292929 0%, #101010 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff292929', endColorstr='#ff101010', GradientType=0);
  border-bottom: 1px solid #434343;
}
body[data-color="grey"] #user-nav > ul {
  border-left: 1px solid #1c1c1c;
}
body[data-color="grey"] #user-nav > ul > li {
  border-right: 1px solid #1c1c1c;
}
body[data-color="grey"] #search {
  border-bottom-color: rgba(255, 255, 255, 0.15);
}
body[data-color="grey"] #search input[type=text] {
  color: rgba(255, 255, 255, 0.15);
}
body[data-color="grey"] #search input[type=text]:focus {
  color: rgba(255, 255, 255, 0.55);
}
body[data-color="grey"] #search button i {
  color: rgba(255, 255, 255, 0.15);
}
body[data-color="grey"] #search button:hover i,
body[data-color="grey"] #search button:active i {
  color: #ffffff;
}
body[data-color="grey"] #sidebar > ul {
  border-top: 1px solid #343434;
  border-bottom: 1px solid #434343;
}
body[data-color="grey"] #sidebar > ul > li {
  border-top: 1px solid #434343;
  border-bottom: 1px solid #343434;
  background-color: #3c3c3c;
}
body[data-color="grey"] #sidebar > ul > li > a {
  color: rgba(255, 255, 255, 0.55);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
body[data-color="grey"] #sidebar > ul > li > a > .label {
  background-color: #333333;
}
body[data-color="grey"] #sidebar > ul > li:hover {
  background-color: #434343;
}
body[data-color="grey"] #sidebar > ul > li:hover > a {
  color: #ffffff;
}
body[data-color="grey"] #sidebar > ul > li.open.submenu {
  background-color: #434343;
}
body[data-color="grey"] #sidebar > ul > li.open.submenu > a {
  color: #ffffff;
  border-bottom: none;
}
body[data-color="grey"] #sidebar > ul > li.active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, #343434 0%, #3c3c3c 100%);
  background-image: linear-gradient(to bottom, #343434 0%, #3c3c3c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff343434', endColorstr='#ff3c3c3c', GradientType=0);
}
body[data-color="grey"] #sidebar > ul > li.active > a {
  color: #ffffff;
  text-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.9);
}
body[data-color="grey"] #sidebar > ul > li.active.open.subenu > a {
  border-bottom: 1px solid #3c3c3c;
}
body[data-color="grey"] #sidebar > ul ul {
  background-color: #222222;
}
body[data-color="grey"] #sidebar > ul ul li a {
  color: rgba(255, 255, 255, 0.35);
  border-top: 1px solid #252525;
  border-bottom: 1px solid #1a1a1a;
}
body[data-color="grey"] #sidebar > ul ul li a:hover,
body[data-color="grey"] #sidebar > ul ul li.active a {
  color: rgba(255, 255, 255, 0.55);
  background-color: #252525;
}
body[data-color="grey"] #sidebar > ul ul:before,
body[data-color="grey"] #sidebar > ul ul:after {
  border-right: 6px solid #222222;
}
body[data-color="grey"] #content {
  background: none repeat scroll 0 0 #f2f2f2;
  min-height: calc(100vh - 75px);
}
body[data-color="grey"] #content-header {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
}
body[data-color="grey"] #breadcrumb {
  background-color: #eaeaea;
}
body[data-color="grey"] .dataTables_paginate .ui-button,
body[data-color="grey"] .pagination.alternate li a {
  border-color: #d9d9d9;
  /* for IE < 9 */
  background-color: #fafafa;
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #f2f2f2 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #f2f2f2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#fff2f2f2', GradientType=0);
}
body[data-color="grey"] .dataTables_paginate .ui-button:hover,
body[data-color="grey"] .pagination.alternate li a:hover {
  background-color: #f2f2f2;
  background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #d9d9d9 100%);
  background-image: linear-gradient(to bottom, #f2f2f2 0%, #d9d9d9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffd9d9d9', GradientType=0);
}
body[data-color="grey"] .dataTables_paginate .ui-state-disabled:hover,
body[data-color="grey"] .fc-state-disabled:hover,
body[data-color="grey"] .pagination.alternate li.disabled a:hover {
  background-color: #fafafa;
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #f2f2f2 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #f2f2f2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#fff2f2f2', GradientType=0);
  border-color: #d9d9d9;
}
body[data-color="grey"] .dataTables_paginate span .ui-state-disabled,
body[data-color="grey"] .pagination.alternate li.active a {
  background-color: #727272 !important;
  background-image: -webkit-linear-gradient(top, #727272 0%, #4c4c4c 100%) !important;
  background-image: linear-gradient(to bottom, #727272 0%, #4c4c4c 100%) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff727272', endColorstr='#ff4c4c4c', GradientType=0) !important;
  border-color: #727272 !important;
}
body[data-color="grey"] .widget-title,
body[data-color="grey"] .modal-header,
body[data-color="grey"] .table th,
body[data-color="grey"] div.dataTables_wrapper .ui-widget-header,
body[data-color="grey"] .ui-dialog .ui-dialog-titlebar {
  background-color: #fafafa;
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #f2f2f2 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #f2f2f2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#fff2f2f2', GradientType=0);
}
body[data-color="grey"] .stat-boxes li,
body[data-color="grey"] .quick-actions li,
body[data-color="grey"] .quick-actions-horizontal li {
  background-color: #fafafa;
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #f2f2f2 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #f2f2f2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#fff2f2f2', GradientType=0);
}
body[data-color="grey"] .stat-boxes li:hover,
body[data-color="grey"] .quick-actions li:hover,
body[data-color="grey"] .quick-actions-horizontal li:hover {
  background-color: #fcfcfc;
  background-image: -webkit-linear-gradient(top, #fcfcfc 0%, #fafafa 100%);
  background-image: linear-gradient(to bottom, #fcfcfc 0%, #fafafa 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcfcfc', endColorstr='#fffafafa', GradientType=0);
}
body[data-color="grey"] .widget-messages .messages-list {
  background-color: #fcfcfc;
  border-right: 1px solid #f2f2f2;
}
body[data-color="grey"] .widget-messages .messages-list .messages-item {
  border-bottom: 1px solid #f2f2f2;
}
body[data-color="grey"] .widget-messages .messages-list .messages-item:hover {
  background-color: #f7f7f7;
}
body[data-color="grey"] .widget-messages .messages-list .messages-item.active {
  background-color: #f2f2f2;
}
@media (max-width: 700px) {
  body[data-color="grey"] .widget-messages .messages-list {
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
  }
}
body[data-color="grey"] .widget-messages .messages-content {
  border-top: 1px solid #f2f2f2;
}
body[data-color="grey"] .widget-messages .messages-content .message-header {
  border-bottom: 1px solid #f2f2f2;
  background-color: #fcfcfc;
}
body[data-color="grey"] .widget-messages .messages-content .message-header .message-actions a {
  border-top: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  color: #d9d9d9;
}
body[data-color="grey"] .widget-messages .messages-content .message-header .message-actions a:hover {
  color: #727272;
}
body[data-color="grey"] .widget-messages .messages-content .message-header .message-actions a:last-child {
  border-right: 1px solid #fafafa;
}
@media (max-width: 767px) {
  body[data-color="grey"] #user-nav > ul {
    border-left: 0;
  }
  body[data-color="grey"] #user-nav > ul > li {
    border-right: 0;
  }
}

.progresscustom {
  margin-bottom: 0 !important;
  position: relative;
}

.progresscustom span {
  position:absolute;
  left:0;
  width:100%;
  text-align:center;
  z-index:2;
  color:black;
}

#table-ips {
  text-align: center;
}

#table-ips tr td:nth-child(1){
  width:25%;
}

#table-ips tr td:nth-child(2){
  width:10%;
}

#table-ips tr td:nth-child(3){
  width:10%;
}

#table-ips tr td:nth-child(4){
  width:15%;
}

#table-ips tr td:nth-child(5){
  width:40%;
}

@media (max-width: 991px) {
  #table-ips tr td:nth-child(1){
    width:25%;
  }

  #table-ips tr td:nth-child(2){
    width:0%;
  }

  #table-ips tr td:nth-child(3){
    width:0%;
  }

  #table-ips tr td:nth-child(4){
    width:20%;
  }

  #table-ips tr td:nth-child(5){
    width:50%;
  }
}

@media (max-width: 767px) {
  #table-ips tr td:nth-child(1){
    width:25%;
  }

  #table-ips tr td:nth-child(2){
    width:0%;
  }

  #table-ips tr td:nth-child(3){
    width:0%;
  }

  #table-ips tr td:nth-child(4){
    width:20%;
  }

  #table-ips tr td:nth-child(5){
    width:50%;
  }
}

#table-range {
  text-align: center;
}

#table-range tr td:nth-child(1){
  width:15%;
}

#table-range tr td:nth-child(2){
  width:15%;
}

#table-range tr td:nth-child(3){
  width:30%;
}

#table-range tr td:nth-child(4){
  width:30%;
}

#table-range tr td:nth-child(5){
  width:10%;
  padding-top: 1px;
  padding-bottom: 1px;
}

#manage-ips {
  text-align: center;
}

#manage-ips tr td:nth-child(1){
  width:25%;
}

#manage-ips tr td:nth-child(2){
  width:25%;
}

#manage-ips tr td:nth-child(3){
  width:25%;
}

#manage-ips tr td:nth-child(4){
  width:20%;
}

#manage-ips tr td:nth-child(5){
  width:5%;
}

.tdnp a {
  color: #FFF;
}

.modal-backdrop {
  z-index: 3;
}
