  <ul class="btn-group">
    <!-- <li class="btn"><a title="" href="/settings"><i class="fa fa-cog"></i> <span class="text">Settings</span></a></li> -->
    <li class="btn"><%= link_to(raw('<i class="fa fa-share"></i> <span class="text">Logout</span>'), destroy_user_session_path) %></li>
  </ul>
