<div id="search">
  <input type="text" placeholder="Search here..."/><button type="submit" class="tip-right" title="Search"><i class="fa fa-search"></i></button>
</div><!-- end search -->

<ul>
  <li class="active"><a href="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>

  <% Service.main_types.each do |type| %>
    <%

  <li class="submenu">
    <a href=""><i class="fa fa-desktop"></i> <span>DSL</span> <i class="arrow fa fa-chevron-right"></i></a>
    <ul>
      <li><a href="/range/192.168.0.1/">192.168.0.1</a></li>
      <li><a href="/range/192.168.1.1/">192.168.1.1</a></li>
    </ul>
  </li>

  <% end %>

  <li class="submenu">
    <a href="#"><i class="fa fa-rss"></i> <span>BTW 3650</span> <i class="arrow fa fa-chevron-right"></i></a>
    <ul>
      <li><a href="servicelookup.php?service=centralia3650">Centralia</a></li>
      <li><a href="servicelookup.php?service=fulton3650">Fulton</a></li>
      <li><a href="servicelookup.php?service=mexico3650">Mexico</a></li>
    </ul>
  </li>

  <li class="submenu">
    <a href="#"><i class="fa fa-rss"></i> <span>BTW 900</span> <i class="arrow fa fa-chevron-right"></i></a>
    <ul>
      <li><a href="servicelookup.php?service=fulton900">Fulton</a></li>
      <li><a href="servicelookup.php?service=mexico900">Mexico</a></li>
    </ul>
  </li>

  <li class="submenu">
    <a href="#"><i class="fa fa-rss"></i> <span>LTE</span> <i class="arrow fa fa-chevron-right"></i></a>
    <ul>
      <li><a href="servicelookup.php?service=mexicolte">Mexico</a></li>
    </ul>
  </li>

  <li class="submenu">
    <a href="#"><i class="fa fa-signal"></i> <span>Wifi</span> <i class="arrow fa fa-chevron-right"></i></a>
    <ul>
      <li><a href="servicelookup.php?service=bentoncity">Benton City</a></li>
      <li><a href="servicelookup.php?service=hamsprairie">Hams Prairie</a></li>
      <li><a href="servicelookup.php?service=lakebreeze">Lake Breeze</a></li>
    </ul>
  </li>

  <li><a href="servicelookup.php?service=tanglewood"><i class="fa fa-industry"></i><span>Tanglewood</span></a></li>
  <li><a href="http://mailadmin.ktis.net/" target="new"><i class="fa fa-envelope-o"></i><span>Kingdom City</span></a></li>
  <li><a href="http://mailadmin.ktis.net/" target="new"><i class="fa fa-envelope-o"></i><span>E-Mail Accounts</span></a></li>
  <li><a href="http://inside.ktis.net/" target="new"><i class="fa fa-globe"></i><span>Network Map</span></a></li>
  <li><a href="https://orders.value.net/Tools/Partner/Orders/PlaceOrder.aspx" target="new"><i class="fa fa-ellipsis-h"></i><span>AT&T DSL</span></a></li>
</ul>
